@import "./variables.scss";

//---- xtra Small Devices ----

@media only screen and (min-width: 0px) and (max-width: 620px) {
  .show-page {
    h1 {
      font-size: 2rem;
    }
    h3 {
      font-size: 1.3rem;
    }
  }
  .header {
    h1 {
      font-size: 1rem;
    }
  }

  .search-bar {
    input {
      width: 20rem;
    }
  }

  .search-panel {
    h3 {
      font-size: 1rem;
    }
  }
  .flex-row1 {
    flex-direction: column;
    h3 {
      font-size: 1.2rem;
    }

    .status-text {
      font-size: 14px;
      margin: 10px 5px;
    }

    .nominee-panel ol li {
      font-size: 14px;
    }
    .nominee-panel .status-text {
      font-size: 14px;
    }
    .results-panel ul li {
      font-size: 14px;
    }

    button {
      min-width: 5rem;
      height: 2.1rem;
      font-size: 12px;
    }
  }
  #root > div > div.search-panel > div.flex-row {
    margin: auto;
  }

  #root > div > div.search-panel > div.flex-row > input {
    min-width: 220px;
    height: 30px;
    font-size: 1.1rem;
  }

  #root > div > div.header > div > {
    h1 {
      font-size: 1.8rem;
    }
  }
}

//---- Small/Tablets ----

@media only screen and (min-width: 0px) and (max-width: 991px) {
  .page-container {
    height: fit-content;
  }

  .show-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .search-bar {
    width: 100%;
    height: 2em;
    border-radius: 4px;
    font-size: 1.3em;
    text-align: center;
    font-family: $primary-font;
  }

  .search-panel {
    margin-top: 5rem;
  }

  .desktop-heading {
    display: none;
  }

  .submit-btn {
    button {
      height: 1.9rem;
      min-width: 15rem;
      max-width: 6.5rem;
      font-size: 14px;
    }
  }

  .header {
    z-index: 20;
    background-color: black;
    padding-top: 10px;
    justify-content: center;
    h1 {
      font-size: 2.3rem;
    }
    .site-logo-container {
      margin: 0;
    }
  }

  .flex-row1 {
    flex-direction: column;
    width: 85vw;
    min-height: 50vh;
    height: fit-content;
    align-items: center;
    .results-panel {
      border-left: none;
      border-bottom: 3px solid $color-primary;
      border-right: none;
      width: 80vw;
      min-height: 50vh;

      ul {
        margin: auto;
        padding: 1em;
        justify-content: center;
        align-items: space-between;
      }
      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2px;
        font-size: 1.1rem;
        text-align: left;
        margin: 10px;
      }
    }

    .nominee-panel {
      border-left: none;
      align-items: center;
      width: 80vw;
      min-height: 50vh;

      p {
        font-size: 1.1rem;
      }
    }
    ol {
      margin: auto;
      padding: 1em;
      justify-content: center;
      align-items: center;

      li {
        display: flex;
        padding: 2px;
        font-size: 1.1rem;
        text-align: left;
        justify-content: space-between;
        align-items: center;
        margin: 10px;
      }
    }
  }
  button {
    margin-left: 15px;
    height: 2.2rem;
    min-width: 6rem;
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 992px) and (max-width: 992) {
  .header {
    background-color: transparent;
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.5rem;
    }
  }
  .search-panel {
    .submit-btn {
      button {
        width: 11rem;
        height: 2.3rem;
        font-size: 0.9rem;
        margin: 0;
      }
    }

    h2 {
      font-size: 1.8rem;
    }
    h3 {
      font-size: 1rem;
    }
  }
  .flex-row1 {
    flex-direction: row;
    width: 90vw;
    min-height: 55vh;
    h3 {
      font-size: 1.3rem;
    }

    font-size: 0.9rem;

    .nominee-panel {
      p {
        font-size: 1rem;
      }
    }

    button {
      height: 1.7rem;
      min-width: 5.1rem;
      font-size: 0.8rem;
    }
  }
  #root > div > div.search-panel > div.flex-row > input {
    height: 2rem;
    width: 20rem;
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .header {
    h1 {
      font-size: 2.5rem;
    }
    h2 {
      font-size: 1.8rem;
    }
  }
  .search-panel {
    .submit-btn {
      button {
        width: 15rem;
        height: 3rem;
        font-size: 1.2rem;
      }
    }

    h2 {
      font-size: 2.2rem;
    }
    h3 {
      font-size: 1.2rem;
    }
  }
  .flex-row1 {
    width: 90vw;
    min-height: 55vh;
    h3 {
      font-size: 1.4rem;
    }

    font-size: 1rem;

    .nominee-panel {
      p {
        font-size: 1.1rem;
      }
    }

    button {
      height: 2rem;
      min-width: 6rem;
      font-size: 1rem;
    }
  }
}
@media only screen and (min-width: 1201px) {
  .header {
    h1 {
      font-size: 2.5rem;
    }
    h2 {
      font-size: 1.5rem;
    }
  }
  .search-panel {
    .submit-btn {
      button {
        width: 15rem;
        height: 3rem;
        font-size: 1.2rem;
        margin: 0;
      }
    }

    h2 {
      font-size: 2rem;
    }
    h3 {
      font-size: 1.1rem;
    }
  }
  .flex-row1 {
    width: 85vw;
    min-height: 60vh;

    h3 {
      font-size: 1.5rem;
    }

    font-size: 1rem;

    .nominee-panel {
      p {
        font-size: 1.1rem;
      }
    }

    button {
      height: 2rem;
      min-width: 6rem;
      font-size: 0.9rem;
    }
  }
}

@media only screen and (min-width: 1401px) {
  .header {
    h1 {
      font-size: 3.5rem;
    }
    h2 {
      font-size: 2.4rem;
    }
  }
  .search-panel {
    margin-top: 5rem;
    .submit-btn {
      button {
        width: 18rem;
        height: 3.8rem;
        font-size: 1.4rem;
        margin: 0.5rem;
      }
    }

    h2 {
      font-size: 2.7rem;
    }
    h3 {
      font-size: 1.4rem;
    }
  }
  .flex-row1 {
    width: 85vw;
    // min-height: fit-content;
    height: fit-content;

    h3 {
      font-size: 1.6rem;
    }

    font-size: 1.2rem;

    button {
      margin-right: 1rem;
      height: 2.4rem;
      min-width: 7rem;
      font-size: 1rem;
    }

    .nominee-panel {
      p {
        font-size: 1.6rem;
      }
    }
    .status-text {
      font-size: 1.8rem;
    }
  }

  #root > div > div.search-panel > div.flex-row > input {
    height: 3.2rem;
    width: 30rem;
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 1900px) {
  .header {
    h1 {
      font-size: 4rem;
    }
    h2 {
      font-size: 2.8rem;
    }
  }
  .search-panel {
    .submit-btn {
      button {
        width: 20rem;
        height: 4rem;
        font-size: 1.5rem;
        margin: 1rem;
      }
      .search-bar {
        input {
          height: 5rem;
        }
      }
    }

    h2 {
      font-size: 3.2rem;
    }
    h3 {
      font-size: 2rem;
    }
  }

  #root > div > div.search-panel > div.flex-row > input {
    height: 3.5rem;
    width: 30rem;
    font-size: 2rem;
  }
  .flex-row1 {
    width: 70vw;
    min-height: fit-content;

    h3 {
      font-size: 2.5rem;
    }

    font-size: 1.8rem;

    button {
      margin-right: 1rem;
      height: 3rem;
      min-width: 9rem;
      font-size: 1.5rem;
      transform: size(1.5);
    }
  }
  .nominee-panel {
    p {
      font-size: 1.8rem;
    }
  }
  .status-text {
    font-size: 2rem;
  }
}
