// Shopify fonts That headline is using font-family
//"ProximaNovaLight","Helvetica Neue",Helvetica,Arial,sans-serif. Shopify also uses
//"Helvetica Neue",Helvetica,Arial,sans-serif font-family for text entries

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap");

$background-color: #000000;
$primary-background-color: darken(#b0965a, 5%);
$secondary-background-color: rgb(237, 236, 236);
$secondary-background-color-low-opacity: rgba(255, 255, 255, 0.887);
$accent-color: #b1b1ae;
$color-primary: rgb(74, 74, 74);
$color-secondary: rgb(0, 0, 0);
// $primary-font: "Open Sans", sans-serif;
$primary-font: "Open Sans", sans-serif;
$heading-font: "Oswald", sans-serif;
