@import "../styles/variables.scss";

button {
  margin: 5px 12px;
  height: 1.8rem;
  transition: color 5s ease;
  background-color: lighten($primary-background-color, 0%);
  color: rgba(0, 0, 0, 0.949);

  font-weight: 400;
  border: none;
  border-radius: 4px;
  text-align: center;
  box-shadow: rgba(58, 57, 57, 0.25) 0px 54px 55px,
    rgba(46, 45, 45, 0.12) 0px -12px 30px, rgba(43, 42, 42, 0.12) 0px 4px 6px,
    rgba(39, 39, 39, 0.17) 0px 12px 13px, rgba(58, 58, 58, 0.09) 0px -3px 5px;

  &:hover {
    background-color: lighten($primary-background-color, 13%);
    cursor: pointer;
  }

  &:disabled {
    background-color: grey;
    cursor: not-allowed;
  }
}
