@import "../styles/variables.scss";

.search-bar {
  width: 80%;
  height: 2em;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 1.3em;
  text-align: center;
  font-family: $primary-font;
}

.flex-row {
  width: 500px;
  max-width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  padding-right: 3em;
}

.search-icon {
  margin-right: 1rem;
  color: $secondary-background-color;
  font-size: 1.5em;
}

input {
  box-shadow: rgba(46, 44, 44, 0.25) 0px 54px 55px,
    rgba(60, 58, 58, 0.12) 0px -12px 30px, rgba(118, 117, 117, 0.12) 0px 4px 6px,
    rgba(60, 58, 58, 0.17) 0px 12px 13px, rgba(43, 43, 42, 0.3) 0px -3px 5px;
  &:focus {
    outline: $primary-background-color 1px auto;
  }
}

@media screen and (max-width: 500px) {
  .search-panel {
    h2 {
      font-size: 2rem;
    }
    .search-bar {
      width: 250px;
      font-size: 1em;

      .flex-row {
        width: 250px;
      }
    }
  }
}
