@import "../styles/variables.scss";

.results-panel {
  width: 45vw;
  // height: fit-content;
  min-height: 50vh;
  margin: 1.5rem 0px;
  background-color: transparent;
  border-right: 3px solid $accent-color;

  ul {
    color: $secondary-background-color;
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  li {
    display: flex;
    list-style-type: none;
    margin: 1.2rem 10px;
    font-size: 1.05em;
    text-align: justify;
    align-items: center;
  }

  .highlighted-text {
    color: $accent-color;
  }
}
