@import "../styles/variables.scss";

.search-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  margin-top: 4em;
  h2 {
    font-weight: 400;
    color: $secondary-background-color;
  }
}
