@import "./styles/variables.scss";

h1,
h2,
h3 {
  font-weight: 500;
  color: rgb(109, 90, 63);
  text-align: center;
}

.page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.871),
      rgba(21, 20, 20, 0.611),
      rgba(60, 56, 56, 0.501)
    ),
    url(https://images.unsplash.com/photo-1527219002998-9e1b7ebedcb5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2100&q=80);
  background-color: $secondary-background-color;
  background-clip: content-box;
  background-position: center;
}

.header {
  width: 100vw;
  background-color: rgba(131, 112, 86, 0.9);
  top: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-weight: 400;
    font-style: italic;
    color: $secondary-background-color;
    margin: 0.5em 2em;
  }

  .icon {
    color: rgb(36, 35, 35);

    font-size: 2.2em;
  }
}

.flex-row {
  display: flex;
  margin-top: 2rem;
}
