@import "./styles/variables.scss";

h1,
h2 {
  text-shadow: 0px 4px 3px rgba(130, 130, 130, 0.4),
    0px 8px 13px rgba(163, 163, 163, 0.1),
    0px 18px 23px rgba(150, 150, 150, 0.1);
  animation: fadeIn 2s ease;
}

h1 {
  font-family: $heading-font;
  text-transform: uppercase;
  font-weight: 500;
  color: darken($primary-background-color, 30%);
  text-align: center;
}

h2,
h3 {
  font-family: $heading-font;
  text-transform: uppercase;
  font-weight: 500;
  color: lighten($primary-background-color, 5%);
  text-align: center;
  font-size: 1.3rem;
}

h2 {
  margin-bottom: 0;
}

.page-container {
  animation: fadeIn 1.5s ease;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // background-image: linear-gradient(
  //     to bottom,
  //     rgba(150, 142, 103, 0.963),
  //     rgba(159, 142, 100, 0.942),
  //     rgba(150, 132, 90, 0.942)
  //   ),
  //   url(https://images.unsplash.com/photo-1527219002998-9e1b7ebedcb5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2100&q=80);
  // background-image: linear-gradient(
  //     to bottom,
  //     rgba(0, 0, 0, 0.894),
  //     rgba(13, 13, 13, 0.531),
  //     rgba(0, 0, 0, 0)
  //   ),
  //   url(https://cdn.pixabay.com/photo/2019/11/07/20/48/cinema-4609877_960_720.jpg);
  // background-image: linear-gradient(
  //     to bottom,
  //     rgb(0, 0, 0),
  //     rgba(6, 6, 6, 0.853),
  //     rgba(16, 16, 16, 0.408),
  //     rgba(16, 16, 16, 0),
  //     rgba(0, 0, 0, 0.696)
  //   ),
  //   url(https://cdn.pixabay.com/photo/2019/11/07/20/48/cinema-4609877_960_720.jpg);
  // background-color: #141415;
  background-color: #000000;
  // background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");

  // background-attachment: fixed;
  // background-position: center;
  // background-size: cover;
  // background-repeat: no-repeat;

  &--dark-overlay {
    visibility: hidden;
  }
}

.header {
  // visibility: hidden;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.764);
  background-color: transparent;
  top: 0;
  position: fixed;
  margin-bottom: 2.3em;

  h1 {
    font-size: 2rem;
    // font-style: italic;
    text-align: left;
    color: $primary-background-color;
    margin: 10px;
  }
  h2 {
    font-weight: 400;
    color: $heading-font;
    margin: 0;
    padding: 0 2rem;
  }

  .site-logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .camera-icon {
    margin: 15px 5px 15px 10px;
    border-radius: 8px;
    background-color: $primary-background-color;
    height: 3rem;
  }
}

.flex-row1 {
  display: flex;
  min-height: 60vh;
  margin: 2rem 0.5rem 3rem 0.5rem;
  background-color: #1f1f1fbf;
  border-radius: 15px;
  box-shadow: rgba(46, 44, 44, 0.25) 0px 54px 55px,
    rgba(33, 33, 33, 0.12) 0px -12px 30px, rgba(118, 117, 117, 0.12) 0px 4px 6px,
    rgba(60, 58, 58, 0.17) 0px 12px 13px, rgba(43, 43, 42, 0.3) 0px -3px 5px;
}

.show-page {
  animation: fadeIn 1.5s ease;
  // background-image: linear-gradient(
  //     to bottom,
  //     rgba(0, 0, 0, 0.755),
  //     rgba(13, 13, 13, 0.672),
  //     rgba(0, 0, 0, 0.576)
  //   ),
  //   url(https://cdn.pixabay.com/photo/2018/09/15/15/06/oscar-3679610_1280.jpg);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    animation: slideIn 2.5s ease;
    font-size: 3rem;
    color: $primary-background-color;
  }

  .fade-in {
    margin-top: 1rem;
    animation: fadeIn 3s ease;
  }
}

// Multi Browser Compatible Animation for fade in
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-500px);
  }

  to {
    transform: translateY(0px);
  }
}

//mobile and tablet styles

@media screen and (max-width: 699px) {
  .page-container {
    height: fit-content;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .show-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .search-bar {
    width: 100%;
    height: 2em;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 1.3em;
    text-align: center;
    font-family: $primary-font;
  }

  .search-panel {
    margin-top: 20px;
    &--mobile-title {
      color: $primary-background-color;
    }
  }

  button {
    // margin-top: 3px;
    // display: block;
    height: 1.4rem;
    width: 5rem;
    font-size: 14px;
  }

  .results-panel {
    width: 80vw;
    height: fit-content;
    min-height: 50vh;
  }

  .nominee-panel {
    width: 80vw;
    height: fit-content;
    min-height: 50vh;
  }

  .header {
    visibility: hidden;
  }

  .flex-row1 {
    flex-direction: column;
    // justify-content: center;

    .results-panel {
      border-left: none;
      // align-items: center;
      // justify-content: center;

      border-bottom: 3px solid rgba(255, 255, 255, 0.702);
      border-right: none;
      ul {
        margin: auto;
        padding: 1em;
        align-items: flex-start;
        justify-content: center;
        align-items: center;
      }
      li {
        // flex-direction: column;
        display: flex;
        padding: 5px;
        font-size: 1rem;
        text-align: justify;
      }
      .btn {
        align-content: center;
      }
    }

    .nominee-panel {
      border-left: none;
      align-items: center;
    }
    ol {
      margin: auto;
      padding: 1em;
      justify-content: center;
      align-items: center;
    }
    li {
      // flex-direction: column;
      display: flex;
      font-size: 1rem;
      padding: 5px;
      font-size: 1rem;
      text-align: justify;
    }
  }
}

@media screen and (max-width: 400px) {
  .flex-row1 {
    flex-direction: column;

    li {
      font-size: 12px;
    }
  }
}
